<html>
<title>Parking Lot</title>
<head>
    <script>
        function myfunction(value) {
            if (value=='Show all Cars')
            document.getElementById('neglect').disabled=true;

            else{
                document.getElementById('neglect').disabled=false;
            }



        }
    </script>

</head>
<body bgcolor="#b0e0e6" style="overflow: hidden;height: 50%">
<div id="main" style="size: 60px">
    <br><br>
    <h1 style="text-align: center">Parking Lot</h1>
    <br><br><br><br><br><br>
   <p>
       <form action = "http://127.0.0.1:5000/result.html" method = "POST" style="text-align: center;">
            <select name="option" onmousedown="this.value='';" onchange="myfunction(this.value)" >
                <option value="--choose--" name="1" >--choose--</option>
                <option value="Create Lot" name="1">create lot</option>
                <option value="Add Car" name="2">Add Car</option>
                <option value="Leave Car" name="3">Leave Car</option>
                <option value="Show Cars of same color" name="4">Show Cars of same color</option>
                <option value="Show slot number of Car" name="5">Show slot number of Car</option>
                <option value="Show all Cars" name="6">Show all Cars</option>


            </select>
            <input type="text" id="neglect" placeholder="Enter as per table below" name="input" value="" style="width: 180px;height: 20px" >
            <input type="submit" value="submit" >
        </form>
   </p>
</div>
    <br><p align="center" style="text-color: red">Input Format:</p><br>

    <table border="1" align="center" style="text-align: center;font-size: small;font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">
        <tr>
            <td>Create Lot (creating new parking lot rewrites old information</td>
            <td>Number in int</td>
        </tr>
        <tr>
            <td>Add car</td>
            <td>KA 11 TV 1234 Blue</td>
        </tr>
        <tr>
            <td>
                Leave Car
            </td>
            <td>
                KA 11 TV 1234
            </td>
        <tr>
            <td>Shows Cars of Same Color</td>
            <td>Blue</td>
        </tr>
        <tr>
            <td>Show Slot Number if Car</td>
            <td>KA 11 TV 1234</td>
        </tr>
        <tr>
            <td>Show all Cars</td>
            <td>NO INPUT (INPUT DISABLED)</td>
        </tr>

    </table>

<br>
<br>
<br><br>
<div id="demo"></div>
</body>
</html>